{% extends 'webapp/base.html' %} {% load crispy_forms_tags %} {% block content%}

<body>
  <div class="container bg-light shadow-md p-5 form-layout">
    <h3>Create your Account</h3>
    <h5>Start manage your tasks today!</h5>
    <hr />
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} {{form|crispy}}
      <br />

      <button type="submit" class="btn btn-primary w-100 btn-block p-2">
        Create Account
      </button>
    </form>

    <br />

    <div class="text-center">
      <p>Already Have an Account ?</p>
      <a href="{% url 'login' %}">Login</a>
    </div>
    <div class="social-login">
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger w-100">
        Sign in with Google
      </a>
    </div>
  </div>
  <br />
</body>
{% endblock %}
